@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var hotelId = ViewBag.HotelId;
}

@model Hotel_Booking.Models.Domains.HotelImage

<h1 class="mt-3">Thêm hình ảnh khách sạn</h1>

<form method="post" enctype="multipart/form-data">
    <div class="mt-3">
        <label class="form-label">Tên hình ảnh</label>
        <input type="text" class="form-control" asp-for="FileName" />
    </div>

    <div class="mt-3">
        <label class="form-label">Mô tả</label>
        <input type="text" class="form-control" asp-for="FileDesciption" />
    </div>

    <div class="mt-3">
        <label class="form-label">Khách sạn</label>
        <input type="text" class="form-control" asp-for="HotelId" value="@hotelId" readonly/>
    </div>

    <div class="mt-3">
        <label class="form-label">File hình ảnh</label>
        <input type="file" class="form-control" asp-for="File" />
    </div>

    <div class="mt-3">
        <button type="submit" class="btn btn-secondary">Lưu hình ảnh</button>
    </div>
</form>

