@{
    ViewData["Title"] = "Trang chủ";
}

@model IEnumerable<Hotel_Booking.Models.Domains.Room>

<div class="home d-flex gap-2">
    @foreach (var room in Model)
    {
        <a class="room card" 
             asp-controller="Home"
             asp-route-id="@room.Id" style="width: 20%">
          <div class="container">
                <h4><b>@room.Name</b></h4>
                <p>@room.Price</p>
          </div>
        </a>
    }
</div>
